body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    margin: 10px auto;
    width: 960px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;

}

header {
    background: #ebebeb;
    text-align: center;
    font-size: 5px;
    padding: 5px;

}

nav {
    background: #ebebeb;
    text-align: center;
    font-size: 18px;
    height: 40px;
    margin-bottom: 10px;
    padding: auto;
    margin-top: -5px;

    

}

section {
    background: #ebebeb;
    width: 495px;
    float: left;
    height: 300px;
    margin-bottom: 20px;
    overflow: scroll;
    padding: 20px;

}

Aside {
    background: #ebebeb;
    float: right;
    text-align: center;
    margin-left: 4px;
    height: 300px;
    padding: 20px;
    width: 375px;

    


}

Footer {
    background: #ebebeb;
    clear: both;
    text-align: center;
    margin-top: -5px;
    
}

Article {
    color: #ebebeb;
    background: #777;

}

h1 {
    color: #777;
    background: #ebebeb;
    text-align: center;
    padding: 18px;
    font-size: 28px;

}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}
p {
    text-align: center;
    padding: 10px;
}